//! **************************************************************************
// Written by: Map P.49d on Fri Dec 06 01:04:44 2013
//! **************************************************************************

SCHEMATIC START;
COMP "Hs" LOCATE = SITE "D6" LEVEL 1;
COMP "Vs" LOCATE = SITE "E6" LEVEL 1;
COMP "clk" LOCATE = SITE "B8" LEVEL 1;
COMP "rdn" LOCATE = SITE "C14" LEVEL 1;
COMP "rst" LOCATE = SITE "U10" LEVEL 1;
COMP "wrn" LOCATE = SITE "U5" LEVEL 1;
COMP "B<0>" LOCATE = SITE "D5" LEVEL 1;
COMP "B<1>" LOCATE = SITE "A6" LEVEL 1;
COMP "B<2>" LOCATE = SITE "B6" LEVEL 1;
COMP "G<0>" LOCATE = SITE "B4" LEVEL 1;
COMP "G<1>" LOCATE = SITE "C4" LEVEL 1;
COMP "G<2>" LOCATE = SITE "C5" LEVEL 1;
COMP "R<0>" LOCATE = SITE "A7" LEVEL 1;
COMP "R<1>" LOCATE = SITE "C3" LEVEL 1;
COMP "R<2>" LOCATE = SITE "A4" LEVEL 1;
COMP "scan" LOCATE = SITE "B9" LEVEL 1;
COMP "tbre" LOCATE = SITE "D14" LEVEL 1;
COMP "tsre" LOCATE = SITE "N9" LEVEL 1;
COMP "ramen" LOCATE = SITE "M15" LEVEL 1;
COMP "ramoe" LOCATE = SITE "M16" LEVEL 1;
COMP "ramwe" LOCATE = SITE "M18" LEVEL 1;
COMP "data_ready" LOCATE = SITE "A16" LEVEL 1;
COMP "out1<0>" LOCATE = SITE "D10" LEVEL 1;
COMP "out1<1>" LOCATE = SITE "E10" LEVEL 1;
COMP "out1<2>" LOCATE = SITE "A11" LEVEL 1;
COMP "out1<3>" LOCATE = SITE "B11" LEVEL 1;
COMP "out1<4>" LOCATE = SITE "C11" LEVEL 1;
COMP "out1<5>" LOCATE = SITE "D11" LEVEL 1;
COMP "out1<6>" LOCATE = SITE "E11" LEVEL 1;
COMP "out1<7>" LOCATE = SITE "F11" LEVEL 1;
COMP "out1<8>" LOCATE = SITE "A12" LEVEL 1;
COMP "out1<9>" LOCATE = SITE "E12" LEVEL 1;
COMP "out1<10>" LOCATE = SITE "F12" LEVEL 1;
COMP "out1<11>" LOCATE = SITE "A13" LEVEL 1;
COMP "out1<12>" LOCATE = SITE "B13" LEVEL 1;
COMP "out1<13>" LOCATE = SITE "D13" LEVEL 1;
COMP "out1<14>" LOCATE = SITE "E13" LEVEL 1;
COMP "out1<15>" LOCATE = SITE "A14" LEVEL 1;
COMP "ramaddr<10>" LOCATE = SITE "G13" LEVEL 1;
COMP "ramaddr<11>" LOCATE = SITE "G14" LEVEL 1;
COMP "ramaddr<12>" LOCATE = SITE "G15" LEVEL 1;
COMP "ramaddr<13>" LOCATE = SITE "G16" LEVEL 1;
COMP "ramaddr<14>" LOCATE = SITE "H14" LEVEL 1;
COMP "ramaddr<15>" LOCATE = SITE "H15" LEVEL 1;
COMP "ramaddr<16>" LOCATE = SITE "H16" LEVEL 1;
COMP "ramaddr<17>" LOCATE = SITE "H17" LEVEL 1;
COMP "ramdata<10>" LOCATE = SITE "L15" LEVEL 1;
COMP "ramdata<11>" LOCATE = SITE "L16" LEVEL 1;
COMP "ramdata<12>" LOCATE = SITE "L17" LEVEL 1;
COMP "ramdata<13>" LOCATE = SITE "L18" LEVEL 1;
COMP "ramdata<14>" LOCATE = SITE "M13" LEVEL 1;
COMP "ramdata<15>" LOCATE = SITE "M14" LEVEL 1;
COMP "ramaddr<0>" LOCATE = SITE "C17" LEVEL 1;
COMP "ramaddr<1>" LOCATE = SITE "C18" LEVEL 1;
COMP "ramaddr<2>" LOCATE = SITE "D16" LEVEL 1;
COMP "ramaddr<3>" LOCATE = SITE "D17" LEVEL 1;
COMP "ramaddr<4>" LOCATE = SITE "E15" LEVEL 1;
COMP "ramaddr<5>" LOCATE = SITE "E16" LEVEL 1;
COMP "ramaddr<6>" LOCATE = SITE "F14" LEVEL 1;
COMP "ramaddr<7>" LOCATE = SITE "F15" LEVEL 1;
COMP "ramaddr<8>" LOCATE = SITE "F17" LEVEL 1;
COMP "ramaddr<9>" LOCATE = SITE "F18" LEVEL 1;
COMP "ramdata<0>" LOCATE = SITE "J12" LEVEL 1;
COMP "ramdata<1>" LOCATE = SITE "J13" LEVEL 1;
COMP "ramdata<2>" LOCATE = SITE "J14" LEVEL 1;
COMP "ramdata<3>" LOCATE = SITE "J15" LEVEL 1;
COMP "ramdata<4>" LOCATE = SITE "J16" LEVEL 1;
COMP "ramdata<5>" LOCATE = SITE "J17" LEVEL 1;
COMP "ramdata<6>" LOCATE = SITE "K12" LEVEL 1;
COMP "ramdata<7>" LOCATE = SITE "K13" LEVEL 1;
COMP "ramdata<8>" LOCATE = SITE "K14" LEVEL 1;
COMP "ramdata<9>" LOCATE = SITE "K15" LEVEL 1;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
NET "scan_BUFGP/IBUFG" BEL "scan_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

